<ul class="nav nav-tabs border-0 flex-column flex-lg-row">
    <li class="nav-item dropdown">

        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fa fa-angellist"></i> 首页</a>
        <div class="dropdown-menu dropdown-menu-arrow submenu_sm">
            <a class="dropdown-item" href="/welcome">自定义1</a>
        </div>
    
    </li>
    <li class="nav-item">
        <a href="/task/index" class="nav-link"><i class="fa fa-list-ul"></i> 我的上线单</a>
    </li>
    <li class="nav-item">
        <a href="/project/index" class="nav-link"><i class="fa fa-legal"></i> 项目配置</a>
    </li>
    <li class="nav-item">
        <a href="/user/index" class="nav-link"><i class="fa fa-child"></i> 人员管理</a>
    </li>
    <li class="nav-item">
            <a href="/filecheck/index" class="nav-link"><i class="fa fa-file-code-o"></i> 文件检查</a>
    </li>
</ul>