<!doctype html>
<html lang="en" dir="ltr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="icon" href="favicon.ico" type="image/x-icon"/>

<title>:: Buzzer :: Login</title>

<!-- Bootstrap Core and Font Icon -->
<link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="../assets/plugins/animate-css/vivify.min.css" />
<link rel="stylesheet" href="../assets/plugins/font-awesome/css/font-awesome.min.css">

<!-- Core css -->
<link rel="stylesheet" href="../assets/css/main.css"/>

</head>
<body class="theme-cyan">

<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto">
                    <div class="text-center mb-5">
                        <img src="../assets/images/logo.svg" class="width150" alt="">
                    </div>
                    <form class="card" action="/user/login" method="POST">
                        <div class="card-body">
                            <div class="card-title">Login to your account</div>
                            <div class="form-group">
                                <label class="form-label">username</label>
                                <input name="Username" type="text" class="form-control"  placeholder="Enter username">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Password<a href="forgot-password.html" class="float-right small">I forgot password</a></label>
                                <input name="PasswordHash" type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" />
                                <span class="custom-control-label">Remember me</span>
                                </label>
                            </div>
                            <div class="form-footer">
                                <button type="submmit" class="btn btn-primary btn-block" title="">Sign in</button>
                            </div>
                        </div>
                    </form>
                    <div class="text-center text-muted">
                        Don't have account yet? <a href="/user/reg">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>