<!doctype html>
<html lang="en" dir="ltr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="icon" href="favicon.ico" type="image/x-icon"/>

<title>:: Buzzer :: Register</title>

<!-- Bootstrap Core and Font Icon -->
<link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="../assets/plugins/animate-css/vivify.min.css" />
<link rel="stylesheet" href="../assets/plugins/font-awesome/css/font-awesome.min.css">

<!-- Core css -->
<link rel="stylesheet" href="../assets/css/main.css"/>
</head>
<body class="theme-cyan">

<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto">
                    <div class="text-center mb-5">
                        <img src="../assets/images/logo.svg" class="width150" alt="">
                    </div>
                    <form class="card" action="/user/reg" method="POST">
                        <div class="card-body">
                            <div class="card-title">创建账户</div>
                            <div class="form-group">
                                <label class="form-label">用户名</label>
                                <input name="Username" type="text" class="form-control" placeholder="Enter name" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label">密码</label>
                                <input name="PasswordHash" type="password" class="form-control" placeholder="Password" required>
                            </div>
                            
                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary btn-block">点击创建 </button>
                            </div>
                        </div>
                    </form>
                    <div class="text-center text-muted">
                        有账户了? <a href="/user/login">去登陆</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>