<!doctype html>
<html lang="en" dir="ltr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="icon" href="favicon.ico" type="image/x-icon"/>

<title>:: Buzzer :: 401</title>

<!-- Bootstrap Core and Font Icon -->
<link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="../assets/plugins/animate-css/vivify.min.css" />
<link rel="stylesheet" href="../assets/plugins/font-awesome/css/font-awesome.min.css">

<!-- Core css -->
<link rel="stylesheet" href="../assets/css/main.css"/>

</head>
<body class="theme-cyan">
<div class="page">
    <div class="page-single">
        <div class="container text-center">
            <div class="display-1 text-muted mb-5"><i class="si si-exclamation"></i> 401</div>
            <h1 class="h2 mb-3">{{.message}}</h1>
            <p class="h5 text-muted font-weight-normal mb-7">We are sorry but you are not authorized to access this page&hellip;</p>
            <a class="btn btn-primary" href="{{.url}}"><i class="fe fe-arrow-left mr-2"></i>Go back</a>
        </div>
    </div>
</div>
</body>
</html>