<div class="row clearfix">
    <div class="col-12">
            {{range $k,$v := .version}}

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{$k}}</h3>
                        
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table_e2">
                            <table class="table table-hover table-vcenter text-nowrap mb-0">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="custom-control custom-checkbox mb-0">
                                                <input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1" checked="">
                                                <span class="custom-control-label">&nbsp;</span>
                                            </label>
                                        </th>
                                        <th>版本</th>                                    
                                        <th>标题</th>                                    
                                        <th>时间</th>
                                        <th>是否激活</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{range $kk,$vv := $v}}
                                    <tr>
                                        <td class="width45">
                                            <label class="custom-control custom-checkbox mb-0">
                                                <input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1" checked="">
                                                <span class="custom-control-label">&nbsp;</span>
                                            </label>
                                        </td>
                                        <td>
                                            <span class="c_name">{{$vv.Id}}</span>
                                        </td>
                                        <td>
                                            <span class="phone">{{$vv.Task.Title}}</span>
                                        </td>                                   
                                        <td>
                                            <span>{{$vv.Task.CreatedAt}}</span>
                                        </td>
                                        <td>
                                            {{if eq $vv.Active 1}}
                                            <i class="fa fa-asterisk" data-toggle="tooltip" title="" data-original-title="fa fa-asterisk"></i>
                                            {{end}}
                                        </td>
                                        <td>                                            
                                            <a href="/version/switch?version={{$vv.Id}}&project={{$vv.Task.ProjectId}}" class="sureToGo"><button type="button" class="btn btn-primary btn-sm" title="Edit"><i class="fa fa-paper-plane"></i></button></a>
                                            <button type="button" class="btn btn-danger btn-sm" title="Delete"><i class="fa fa-trash-o"></i></button>
                                        </td>
                                    </tr>
                                    {{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}

    </div>
</div>

