<ul class="nav nav-tabs border-0 flex-column flex-lg-row">
        <li class="nav-item"><a href="/welcome" class="nav-link"><i class="fa fa-angellist"></i> 首页</a></li>                        
        <li class="nav-item">
            <a href="/task/index" class="nav-link"><i class="fa fa-list-ul"></i> 我的上线单</a>
        </li>
        <li class="nav-item">
            <a href="/project/index" class="nav-link"><i class="fa fa-legal"></i> 项目配置</a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fa fa-child"></i> 人员管理</a>
            <div class="dropdown-menu dropdown-menu-arrow">
                <a class="dropdown-item" href="w-cards.html">Cards design</a>
                <a class="dropdown-item" href="w-statistics.html">Statistics</a>
                <a class="dropdown-item" href="w-data.html">Data</a>
                <a class="dropdown-item" href="w-social.html">Social</a>
                <a class="dropdown-item" href="w-store.html">eCommerce</a>
            </div>
        </li>                        
        <li class="nav-item dropdown">
            <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fa fa-binoculars"></i> 运行日志</a>
            <div class="dropdown-menu dropdown-menu-arrow">
                <a class="dropdown-item" href="form-elements.html">Basic Elements</a>
                <a class="dropdown-item" href="form-advanced.html">Advanced Elements</a>
                <a class="dropdown-item" href="form-validation.html">Form Validation</a>
                <a class="dropdown-item" href="form-wizard.html">Form Wizard</a>
                <a class="dropdown-item" href="form-summernote.html">Summernote</a>
                <a class="dropdown-item" href="form-markdown.html">Markdown</a>
            </div>
        </li>
        <li class="nav-item dropdown">
                <a href="/filecheck/index" class="nav-link"><i class="fa fa-file-code-o"></i> 文件检查</a>

        </li>
        <li class="nav-item dropdown">
            <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fa fa-thermometer-1"></i> 健康检查</a>
            <div class="dropdown-menu dropdown-menu-arrow submenu_sm">
                <a class="dropdown-item active" href="page-empty.html">Empty page</a>
                <a class="dropdown-item" href="page-profile.html">Profile</a>
                <a class="dropdown-item" href="page-timeline.html">Timeline</a>
                <a class="dropdown-item" href="page-pricing.html">Pricing cards</a>
                <a class="dropdown-item" href="page-invoices.html">Invoices</a>
                <a class="dropdown-item" href="page-search.html">Search Results</a>
                <a class="dropdown-item" href="page-testimonials.html">Testimonials</a>
                <a class="dropdown-item" href="page-maps.html">Maps</a>
                <a class="dropdown-item" href="page-icons.html">Icons</a>
                <a class="dropdown-item" href="page-carousel.html">Carousel</a>
                <a class="dropdown-item" href="page-gallery.html">Gallery</a>
                <a class="dropdown-item" href="page-userslist.html">Users List</a>
                <a class="dropdown-item" href="page-lookup.html">Lookup</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="icon-lock"></i> Auth</a>
            <div class="dropdown-menu dropdown-menu-arrow">
                <a class="dropdown-item" href="login.html">Login</a>
                <a class="dropdown-item" href="register.html">Register</a>
                <a class="dropdown-item" href="forgot-password.html">Forgot password</a>
                <a class="dropdown-item" href="400.html">400 error</a>
                <a class="dropdown-item" href="401.html">401 error</a>
                <a class="dropdown-item" href="403.html">403 error</a>
                <a class="dropdown-item" href="404.html">404 error</a>
                <a class="dropdown-item" href="500.html">500 error</a>
                <a class="dropdown-item" href="503.html">503 error</a>
            </div>
        </li>
    </ul>